body{
  background-color: #f9f9f9;
  margin: 60px;
  margin-top: 35;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.navbar li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  padding: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  float: inline-start;
}
.logo {
  width: 164px;
  height: 53;
  padding: 1%;
}
.lets_talk{
  position: relative;
  padding: 10px 30px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.content {
  width: 50%;
  margin-left: auto;
}
#hero {
  width: 300px;
  display: flex;
}

.hero_button1 {
  position: relative;
  padding: 10px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #000;
  border: solid 1px;
  border-radius: 10px;
  border-color: #007bff;
}
.hero_button2 {
  position: relative;
  padding: 10px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #000;
  border: solid 1px;
  border-radius: 10px;
  border-color: #007bff;
}
.skills {
  margin-top: 100px;
}
.card {
  display: flex;
  justify-content: center;
  margin: 35px;
  justify-content: space-between;

}
.container_card {
  padding: 20px;
  margin: 0 10px;
  text-align: left;
  width: 50%;
}

.card_image {
  border-radius: 0%;
  width: 300px;
  height: auto;
  object-fit: cover;
}

.card_title {
  font-size: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  color: #000;
}

.card_text {
  font-size: 16px;
  color: #000;
}
.view {
  position: relative;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.footer {
  display: inline-block;
  padding: 25px;
  background-color: #000;
  vertical-align: top;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-wrapper {
  text-align: center;
}

.button-wrapper h4 {
  margin-top: 0;
  font-size: 16px;
}

.email-button,
.find-me-on {
  position: relative;
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.email-button {
  margin-right: 50px;
}

.find-me-on {
  margin-left: 50px;
}

